body{
    align-items: center;
    padding: 0px;
}
#line{
    width: 5px;
    background-color: black;
    height: 100vh;
    margin: 0 auto 0 auto;
    float: center;
}
#one{
    float:left;
}
#two{
    float:right;
}
button{
    margin: 100px;
}