body{
    align-items: center;
    padding: 0px;
}
#line{
    width: 5px;
    background-color: black;
    height: 100vh;
    margin: 0 auto 0 auto;
    float: center;
}
#one{
    float:left;
    margin-top: 5vh;
    margin-left: 45vw;
}
#two{
    float:right;
    margin-right: 45vw;
}
#three{
    float:left;
    margin-top: 5vh;
    margin-left: 45vw;
}
#four{
    float:right;
    margin-right: 45vw;
}
button{
    margin: 10vh;
}